<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Let's Talk</mat-card-subtitle>
    <mat-card-title>Contact</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-divider></mat-divider>
    <h2>Ahmed Lima</h2>
    <a href="mailto:ahmeddelima01@gmail.com">
      <mat-icon aria-hidden="false" aria-label="mail icon" fontIcon="mail"></mat-icon> ahmeddelima01@gmail.com
    </a>
    <a href="tel:1299614-1175">
      <mat-icon aria-hidden="false" aria-label="call icon" fontIcon="call">
      </mat-icon> +55(12)99614-1175
    </a>
    <mat-card-actions>
    <a
    class="whatsapp-link"
    href="https://api.whatsapp.com/send?phone=12996141175"
    target="_blank"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/5968/5968841.png"
      alt="whatsapp-logo-1.png"
      style="width: 50px; height: 50px; object-fit: cover"
    />
  </a>
    <a
    class="youtube-link"
    href="https://www.youtube.com/@SPEAKENGLISHWITHAEM"
    target="_blank"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/1383/1383260.png"
      alt="youtube-logo-1.png"
      style="width: 50px; height: 50px; object-fit: cover"
    />
  </a>
</mat-card-actions>
  </mat-card-content>
</mat-card>
