<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Our Metodology</mat-card-title>
    <mat-card-subtitle>AEM - </mat-card-subtitle>
  </mat-card-header>
  <div class="content">
    <mat-card-content>
      <iframe height="250" src="https://www.youtube.com/embed/w--D6L05vLs"
        title="INSIDE 👉 8 common uses of (INSIDE) in spoken English @SPEAKENGLISHWITHAEM" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content>
      <h2>
        Totally focused on conversation
      </h2>
      <h4>
        Is necessary a certain level of english, because the classes are only in english
      </h4>
      <h2>
        Adapted to the needs of the students
      </h2>
      <h4>
        Personalized material for each student
      </h4>
      <h2>
        Individual classes
      </h2>
      <h4>
        One-a-One, total attention
      </h4>
    </mat-card-content>
  </div>
</mat-card>
