.example-card {
  max-width: 400px;
  margin-top: 0.5em;
}

.example-header-image {
  background-image: url('../../../assets/favicon-32x32.png');
  background-size: cover;
}
iframe{
  margin: 3px;
}

@media(min-width: 800px){
  .example-card {
    max-width: 80vw;
    max-height: 60vh;
    margin-top: 0.5em;
  }
  .content{
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  iframe{
    width: 450px;
  }
}
